body {
  background-color: #272262;
  color: white;
}
h2 {
  color: #ff216e;
}
.course-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.course {
  margin: 1em;
  width: calc(33.3% - 4em);
  padding: 1em;
  background-color: rgba(255,255,255,.25);
  border-radius: 12px;
}
.course > h3 {
  float: left;
}
.course > p {
  float: right;
  padding-top: 6px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
